################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/LightweightProcesses/bin/Debug
/LightweightProcesses/obj/Debug
